.container
  .row 
    .col-12
      .card 
        .card-body
          %h1.text-center= @category.name
          - if can? :update, @category
            .row 
              %p= @category.description
            .row
              .offset-md-3.col-md-3
                = link_to 'Editar', edit_category_path(@category), class:"btn btn-primary btn-block"
              .col-md-3 
                = link_to 'Atras', categories_path, class:"btn btn-secondary btn-block"     
          =image_tag @category.c_img.url, class:"img-fluid"

         
-#%p
  %b Name:
  = @category.name
  %p
    %b Description:
    = @category.description
  %p
    %b C img:
    = @category.c_img

  = link_to 'Edit', edit_category_path(@category)
  \|
  = link_to 'Back', categories_path
