!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=devise-width, initial-scale=1", :name => "viewport"}/
    %title Ecommerce
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.js"}

  %body
  -if user_signed_in?    
    = render "partials/navbar"
    .py-5
      .container
        .row
          = render "partials/panel"
          .col-md-9
            = yield
    = render "partials/footer"
  - else
    = render "partials/navbar"
    = yield
    = render "partials/footer"
