!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=devise-width, initial-scale=1", :name => "viewport"}/
    %title Ecommerce
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  = render "partials/navbar"
  -if user_signed_in?    
    .py-5
      .container
        .row
          = render "home/panel"
          .col-md-8
            = yield
  = render "partials/footer"
